<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a 
        class="navbar-brand"
        routerLink="/donation-details"
        routerLinkActive="active">Donator</a>
  
      <button
        class="navbar-toggler"
        type="button"
        (click)="basicNavbar.toggle()"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
  
      <div
        class="collapse navbar-collapse"
        id="navbarSupportedContent"
        mdbCollapse
        #basicNavbar="mdbCollapse">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a 
            class="nav-link" 
            aria-current="page" 
            routerLink="/donation-details" 
            routerLinkActive="active">Details</a>
          </li>
          <li class="nav-item">
            <a 
            class="nav-link" 
            aria-current="page" 
            routerLink="/make-donation" 
            routerLinkActive="active">Donate</a>
          </li>
          <li class="nav-item">
            <a 
            class="nav-link" 
            aria-current="page" 
            routerLink="/receiver" 
            routerLinkActive="active">Receiver</a>
          </li>
          <li class="nav-item">
            <a 
            class="nav-link" 
            aria-current="page" 
            routerLink="/help" 
            routerLinkActive="active">Help</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
