<div 
class="p-5 text-center bg-image" 
style="
      background-image: url('assets/Tech_Background.jpg');
      height: 300px;">

  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">Donator</h1>
        <h4 class="mb-3">An Ethereum Donator for Trustless Donations</h4>
        <a 
        class="btn btn-outline-light btn-lg" 
        target="_blank"
        href="https://github.com/baldwinr/Donator" 
        role="button">Github</a>
      </div>
    </div>
  </div>
</div>